@import "../../styles/constants";
@import "../../styles/mixins";

.user-card{
  background-color: $bg-color-color-user-card;
  display: flex;
  height: 170px;
  &__title{
    font-size: 24px;
    line-height: 58px;
    color: $font-color-black;
    font-weight: 600;
  }
  &__text{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $font-color-dark-blue;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  &__avatar{
    min-width: 170px;
    flex: 19.32%;
    width: 100%;
    height: 170px;
    display: flex;
    font-size: 100px;
  }
  &__info{
    flex: 80.68%;
    margin-left: 25px;
    margin-right: 25px;
  }
}