$font-family-main: 'Open Sans', sans-serif;

$bg-color-white: #ffffff;
$bg-color-body: #586670;
$bg-color-color-tab: #f8f8f8;
$bg-color-color-user-card: #becbd9;
$bg-color-color-message-list: #d7dfe7;
$bg-color-color-message: #f4f8fb;
$bg-color-button: #428bca;

$input-message-color: #becbd9;
$output-message-color: #f0cbb3;



$font-color-black: #333333;
$font-color-dark-blue: #354149;
$font-color-medium-blue: #203245;
$font-color-light-grey: #9aa8b7;
$font-color-medium-grey: #999999;
$font-color-dark-grey: #4a4d52;
$font-color-blue: #3a87ae;
$font-color-green: #20d63e;
$font-color-tab-title: #555555;
$font-color-white: #ffffff;
$font-color-recipient-message: #703a18;

$border-color-primary: #cccccc;
$border-color-active: #74b9ef;
$border-color-tab: #dddddd;
$border-color-btn: #357ebc;

$max-width: 1140px;

$border-radius: 5px;