@import "../../styles/constants";
@import "../../styles/mixins";

.chat {
  margin-top: 20px;
  height: 650px;

  &__wrapper {
    @include container();
    border-radius: $border-radius;
    height: 100%;
    border: 1px solid $border-color-primary;
    display: flex;
  }

  &__content {
    flex: 77.19%;
    background-color: $bg-color-color-message-list;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__aside {
    flex: 22.81%;
    background-color: $bg-color-white;
  }

  @media screen and (max-width: $mobile-width) {
    padding-left: 10px;
    padding-right: 10px;
    &__wrapper{
      flex-direction: column;
    }
  }
}