@import "../../../styles/constants";
@import "../../../styles/mixins";

.tabs {
  &__content{
    padding: 15px 0;
    max-height: 520px;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }
  }
  &__header{
    font-size: 14px;
    font-weight: 400;
    color: $font-color-tab-title;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
  }
  &__title {
    flex: 1;
    @include centerElement();
    cursor: pointer;
    background-color: $bg-color-color-tab;
    border: 1px solid $border-color-tab;
    &--active {
      border: none;
      background-color: inherit;
    }
  }

}
