@import './styles/reset';
@import './styles/fonts';
@import './styles/constants';
@import "./styles/mixins";

body {
  font-family: $font-family-main;
  background-color: $bg-color-body;
  font-weight: 400;
}

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $bg-color-color-user-card;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #9daab9;
  border-radius: 10px;
}