@import "../../../styles/constants";
@import "../../../styles/mixins";

.button{
  background-color: $bg-color-button;
  border: 1px solid $border-color-btn;
  border-radius: $border-radius;
  padding: 10px;
  color: #ffffff;
  font-size: 13px;

  @media screen and (max-width: $mobile-width) {
    font-size: 10px;
    padding: 5px;
  }
}